@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


:root {
  --background: #FBFBFB;
  --foreground: #FBFBFB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FBFBFB;
    --foreground: #FBFBFB;
  }
}

body {
  background: white;
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  
}

/* Hide number input arrows (for Chrome, Safari, Edge, Opera) */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input arrows (for Firefox) */
.no-spinner {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

